html {
  font-family: /* 'AvenirNext-Medium', */ 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

body {
  background-color: #eee;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
