:host {
  background-color: #eee;
  display: block;
  padding-bottom: 50px;
  text-align: center;
}

.overlay {
  position: fixed;
  pointer-events: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: translateZ(0);
  transition: opacity 0.2s ease-in-out;
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.guided-searches-container {
  background: white;
  height: 45px;
  line-height: 40px;
  white-space: nowrap;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 0 5px;
}

.guided-search-chip {
  display: inline-block;
  margin-left: 5px;
  text-decoration: none;
  padding: 0 15px;
  height: 27px;
  line-height: 27px;
  font-size: 12px;
  color: #333;
  text-transform: capitalize;
  background-color: #f1ecef;
  /*background-color: #001f3d;
  color: white;*/
  border-radius: 20px;
}

.spinner-container {
  padding-top: 50px;
  padding-bottom: 100px;
}

.spinner-container:first-child {
  padding-top: 100px;
}

.products-container {
  text-align: center;
  padding: 15px;
  font-size: 0;
}

@media (max-width: 700px) {
  .products-container {
    padding: 5px 0;
  }
}

.refine-button {
  text-align: center;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  margin: 15px auto 0 auto;
  color: white;
  background-color: #0083ed;
  border-radius: 2px;
  padding: 10px 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* TODO: button styling */
.load-more-button {
  cursor: pointer;
  display: block;
  font-size: 14px;
  margin: 30px auto 0 auto;
  width: 170px;
  height: 50px;
  color: white;
  background-color: #0083ed;
  border-radius: 2px;
  line-height: 48px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
