<div class="products-container" *ngIf="products && products.length">
  <product-cell
    *ngFor="#product of products"
    [product]="product">
  </product-cell>
</div>

<div>
  <button id="check-preboot" (click)="onCheckPreboot()">Check "Preboot"</button>
  <span id="message-preboot" *ngIf="messagePreboot">{{ messagePreboot }}</span>
</div>
<div>
  <button id="check-lazyloading" (click)="onCheckLazyLoading()">Check "Lazy Loading"</button>
  <span id="message-lazyloading" *ngIf="messageLazyLoading">{{ messageLazyLoading }}</span>
</div>
