<div *ngIf="guidedSearches && guidedSearches.length" class="guided-searches-container">
  <a
    class="guided-search-chip"
    *ngFor="#chip of guidedSearches"
    [routerLink]="['Home', { fts: chip.text }]">
    {{chip.text}}
  </a>
</div>

<div class="products-container">
  <product-cell
    *ngFor="#product of products"
    [product]="product">
  </product-cell>

  <div *ngIf="!loading" class="load-more-button-container">
    <!--<a class="load-more-button" (click)="paginate()">
      Load More
    </a>-->
    <a [routerLink]="['Home', { fts: fts, offset: (page + 1) * LIMIT }]" class="load-more-button">
      Load More
    </a>
  </div>

  <div class="spinner-container" *ngIf="loading">
    <spinner></spinner>
  </div>
</div>
