<div class="guided-searches-container">
  <a
    class="guided-search-chip"
    *ngFor="#chip of guidedSearches"
    [routerLink]="['Home', { fts: chip.text }]">
    {{chip.text}}
  </a>
</div>

<a class="refine-button" (click)="showFilters = !showFilters">
  Refine
</a>

<div class="products-container">
  <product-cell
    *ngFor="#product of products"
    [product]="product">
  </product-cell>

  <div *ngIf="!loading" class="load-more-button-container">
    <!--<a class="load-more-button" (click)="paginate()">
      Load More
    </a>-->
    <a
      class="load-more-button"
      [routerLink]="['Home', { fts: fts, offset: (page + 1) * LIMIT }]">
      Load More
    </a>
  </div>

  <div class="spinner-container" *ngIf="loading">
    <spinner></spinner>
  </div>
</div>

<!-- TODO: global overlay -->
<div (click)="showFilters = false" [class.show]="showFilters" class="overlay"></div>
<div #searchFilters></div>
